<html>
	<body style="margin: 0; background-image: url('https://eliankoby.files.wordpress.com/2012/08/webtreats_wood-pattern5-1024.jpg'); background-repeat: repeat;">
		<div style="position: fixed; height: 60px; top: 0; width: calc(100% - 40px); padding: 5px 20px; background-color: #cccccc; display: flex; align-items: center; justify-content: space-between;">
			<h2>General FAQ</h2>
			<div style="margin-right: 50px;">
				<a href="/">Home</a>
				
				<a href="/newquestion" style="margin-left: 50px">Create a New Question</a>
			</div>
			
		</div>
		<div style="margin-top: 70px;">
			<div style="margin: 0 auto; max-width: 1000px; background: white; padding: 20px">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>

