{% extends "base.html" %}

{% block content %}

<h1>{{ question.title }}</h1>

<p>{{ question.body }}</p>

<h2>Answers:</h2>

{% if question.answers.count == 0 %}
	<p>No answers to this question yet.</p>
{% endif %}

{% for answer in question.answers.all %}
	<p>{{ answer.answer }}</p>
	<div style="margin-bottom: 30px"></div>
{% endfor %}

<form action="/submitanswer/?id={{question.id}}" method="POST">
	{% csrf_token %}
	<div style="display: flex; flex-direction: column;">
	{{ form }}
	</div>
	
	<input type="submit" name="submit" />
</form>

{% endblock %}